@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}


@{
	var selection = Umbraco.Content(Guid.Parse("1236ad17-198d-4ee0-ac84-d7753812b8fa"))
    .Children()
    .OfType<BlogPost>()
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>@Model.Value("title")</h1>
                            <span class="subheading">@Model.Value("subtitle")</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            
 <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="card m-b-30">
                    <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <img src="@Model.ProfilePicture?.Url()" class="img-fluid mb-3" alt="user" />
                    </div>
                    <div class="col-lg-9">
                        <h4>@Model.ProfileHeader</h4>
                        <div class="mb-3">
                            @foreach(var contactTag in Model.ProfileTags.Split(","))
                            {
                              <span class="contact-tag">@contactTag.Trim()</span>
                            }
                        </div>
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                     <tr>
                                        <th scope="row" class="p-1">Work :</th>
                                        <td class="p-1">Sogeti (Jönköping)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">Country :</th>
                                        <td class="p-1">Sweden</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="p-1">LinkedIn :</th>
                                        <td class="p-1">/in/lyckligkonsult/</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <h2>My latest blog posts</h2>
            <hr />
	@foreach (var item in selection)
	{
		
		    <div class="post-preview">
			<a href="@item.Url()">
			<h2 class="post-title">@item.Title</h2>
			<h3 class="post-subtitle">@item.Preamble</h3></a>
			 <p class="post-meta">
                Posted by
                @item.Author
                on @item.CreateDate
             </p>
            </div>
	}
</div>
</div>
</div>